@font-face {
  font-family: "JosefinSans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Bold.woff") format("woff"), url("../fonts/JosefinSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  font-display: swap;
  src: url("../fonts/JosefinSans-Regular.woff") format("woff"), url("../fonts/JosefinSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url(../fonts/icons.woff) format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-sun:before {
  content: "\e900";
}

._icon-close:before {
  content: "\e901";
  pointer-events: none;
}

._icon-moon:before {
  content: "\e902";
}

._icon-check:before {
  content: "\e903";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "JosefinSans";
  font-size: 18px;
  color: #6E728E;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body.active {
  background: #171823;
}

body.active .todo__input {
  background: #25273D;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  color: #C8CBE7;
}

body.active .todo__input::-webkit-input-placeholder {
  color: #C8CBE7;
}

body.active .todo__button {
  background: #393A4B;
}

body.active .todo__button::after {
  background: #25273D;
}

body.active .todo__button:hover {
  background: -o-linear-gradient(315deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

body.active .todo__button._icon-check {
  font-size: 8px;
  color: #FFFFFF;
  background: -o-linear-gradient(315deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

body.active .todo__button._icon-check::after {
  background: transparent;
}

body.active .todo__container {
  background: #25273D;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

body.active .todo__item {
  background: #25273d;
}

body.active .todo__footer {
  background: #25273D;
  border-top: 1px solid #393A4B;
  color: #5B5E7E;
  -webkit-box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
}

body.active .todo__list-item {
  color: #C8CBE7;
  pointer-events: none;
}

body.active .todo__list-item.completed {
  text-decoration: line-through;
  color: #4D5067;
}

body.active .todo__options-text {
  color: #5B5E7E;
}

body.active .todo__options-text:hover {
  color: #E3E4F1;
}

body.active .todo__options-text.active {
  color: #3A7CFD;
}

body.active .todo__clear {
  color: #5B5E7E;
}

body.active .todo__clear:hover {
  color: #E3E4F1;
}

body.active .todo__item:not(:last-child) {
  border-bottom: 1px solid #393A4B;
}

body.active .todo__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body.active .todo__checkbox + label.todo__input-label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #393a4b;
  width: calc(20px + 4 * (100vw - 320px) / 1120);
  height: calc(20px + 4 * (100vw - 320px) / 1120);
  margin-right: calc(12px + 12 * (100vw - 320px) / 1120);
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body.active .todo__checkbox + label.todo__input-label:hover {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background: -o-linear-gradient(315deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

body.active .todo__checkbox + label.todo__input-label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: #25273d;
  border-radius: 50%;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body.active .todo__checkbox:checked + label.todo__input-label::before {
  content: "\e903";
  display: block;
  font-family: "icons";
  color: #FFFFFF;
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-linear-gradient(315deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

._container {
  max-width: 570px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.page__container {
  z-index: 1;
  position: relative;
  margin-top: calc(-160px + -50 * (100vw - 320px) / 1120);
}

.page__background {
  position: relative;
  width: 100%;
  height: calc(200px + 100 * (100vw - 320px) / 1120);
  overflow: hidden;
}

.page__background-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 100%;
     object-position: 30% 100%;
}

.page__background-night {
  height: 300px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.page__background-night.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page__background-day {
  height: 300px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.page__background-day.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.page__footer {
  color: #9495A5;
  font-size: 14px;
  text-align: center;
  margin-top: calc(40px + 9 * (100vw - 320px) / 1120);
}

.todo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(40px + 8 * (100vw - 320px) / 1120);
}

.todo__header-text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: calc(20px + 20 * (100vw - 320px) / 1120);
  letter-spacing: 15px;
}

.todo__icon {
  font-size: calc(20px + 6 * (100vw - 320px) / 1120);
  color: #FFFFFF;
  background: none;
}

.todo__icon-day {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
}

.todo__icon-day.active {
  -webkit-transform: translateY(2rem) rotateZ(180deg);
      -ms-transform: translateY(2rem) rotate(180deg);
          transform: translateY(2rem) rotateZ(180deg);
  -webkit-animation: show 2s 1;
          animation: show 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

.todo__icon-night {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
}

.todo__icon-night.active {
  -webkit-transform: translateY(2rem) rotateZ(180deg);
      -ms-transform: translateY(2rem) rotate(180deg);
          transform: translateY(2rem) rotateZ(180deg);
  -webkit-animation: show 2s 1;
          animation: show 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
}

@keyframes show {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
}

.todo__form {
  position: relative;
  margin-bottom: calc(16px + 8 * (100vw - 320px) / 1120);
}

.todo__form .todo__button {
  position: absolute;
  left: calc(20px + 4 * (100vw - 320px) / 1120);
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.todo__input {
  width: 100%;
  height: calc(48px + 16 * (100vw - 320px) / 1120);
  color: #393A4B;
  font-size: calc(12px + 6 * (100vw - 320px) / 1120);
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  padding-left: calc(52px + 20 * (100vw - 320px) / 1120);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__input::-webkit-input-placeholder {
  color: #9495A5;
  font-size: calc(12px + 6 * (100vw - 320px) / 1120);
}

.todo__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__checkbox:checked ~ label.todo__list-item {
  text-decoration: line-through;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__checkbox + label.todo__input-label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E3E4F1;
  width: calc(20px + 4 * (100vw - 320px) / 1120);
  height: calc(20px + 4 * (100vw - 320px) / 1120);
  margin-right: calc(12px + 12 * (100vw - 320px) / 1120);
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__checkbox + label.todo__input-label:hover {
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background: -o-linear-gradient(315deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

.todo__checkbox + label.todo__input-label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: white;
  border-radius: 50%;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__checkbox:checked + label.todo__input-label::before {
  content: "\e903";
  display: block;
  font-family: "icons";
  color: #FFFFFF;
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-linear-gradient(315deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__button {
  position: relative;
  width: calc(20px + 4 * (100vw - 320px) / 1120);
  height: calc(20px + 4 * (100vw - 320px) / 1120);
  border-radius: 50%;
  background: #E3E4F1;
  cursor: pointer;
  margin-right: calc(12px + 12 * (100vw - 320px) / 1120);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__button::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: white;
  border-radius: 50%;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__button:hover {
  background: -o-linear-gradient(315deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__button._icon-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8px;
  color: #FFFFFF;
  background: -o-linear-gradient(315deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__button._icon-check::after {
  background: transparent;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__footer {
  border-top: 1px solid #E3E4F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  color: #9495A5;
  font-size: 14px;
  height: 50px;
  padding: 0 calc(20px + 4 * (100vw - 320px) / 1120);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.todo__footer.mobile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  border-radius: 5px;
  border-top: none !important;
  -webkit-box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
          box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.todo__items-left {
  font-size: calc(12px + 2 * (100vw - 320px) / 1120);
}

.todo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: #FFFFFF;
  padding: 0 calc(20px + 4 * (100vw - 320px) / 1120);
  height: calc(52px + 12 * (100vw - 320px) / 1120);
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.todo__item.dragging {
  opacity: 0.5;
}

.todo__item.fall {
  -webkit-transform: translateX(150px) rotateZ(30deg);
      -ms-transform: translateX(150px) rotate(30deg);
          transform: translateX(150px) rotateZ(30deg);
  opacity: 0;
}

.todo__item:hover .todo__close {
  opacity: 1;
}

.todo__item:not(:last-child) {
  border-bottom: 1px solid #E3E4F1;
}

.todo__list-item {
  color: #494C6B;
  font-size: calc(12px + 6 * (100vw - 320px) / 1120);
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.todo__list-item.completed {
  text-decoration: line-through;
  color: #D1D2DA;
}

.todo__view-options.dekstop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo__view-options.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo__options-text {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: none;
  color: #9495A5;
  font-weight: 700;
}

.todo__options-text:hover {
  color: #494C6B;
}

.todo__options-text.active {
  color: #3A7CFD;
}

.todo__options-text:not(:last-child) {
  margin-right: 19px;
}

.todo__clear {
  background: none;
  color: #9495A5;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.todo__clear:hover {
  color: #494C6B;
}

.todo__container {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
          box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.todo__close {
  background: none;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

._icon-close {
  color: #979797;
  font-size: calc(11px + 6 * (100vw - 320px) / 1120);
  pointer-events: none;
  display: block;
}

@media (min-width: 450px) {
  .todo__footer.mobile {
    display: none;
  }

  .todo__view-options.mobile {
    display: none;
  }
}

@media (max-width: 700px) {
  .page__background-night .page__background-img {
    height: 70%;
  }
}

@media (max-width: 450px) {
  .todo__view-options.dekstop {
    display: none;
  }

  .todo__close {
    opacity: 1;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){

}

}
